html, body {
  height: 100%;
  width: 100%;
  background-image: url("/images/blueSpace.jpg");
}

html, body, p, h1, h2, h3, div, li, a {
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none !important;
}

#header {
  height: 8rem;
}

#headerContainer {
  margin-bottom: 2rem;
}

#headerText {
  height: 8rem;
  line-height: 8rem;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 4rem;
}

#mainNav {
  height: 3rem;
}

#mainNav a {
  color: white;
  text-decoration: underline;
}

.nav {
  text-align: center;
}

.centerMe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#recruitment {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.post {
  background-color: rgba(28, 28, 28, 0.7);
  border: 1px solid black;
  padding: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}

.postHeader {
  margin-bottom: 0.2rem;
}

.postContent {
  margin-bottom: 0.2rem;
}

.postContent img {
  max-width: 100%;
  border: 1px solid black;
}

@media (max-width: 543px) {
  .postRow {
    padding: 0px 10px;
  }
}
