<template name="header">
  <div id="headerContainer">
    <div id="header" class="row">
      <div id="headerText">
        HC
      </div>
    </div>
    <div id="mainNav" class="row">
      <nav class="nav nav-inline">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/apply">Apply</a>
        <a class="nav-link" href="/roster">Roster</a>
        <a class="nav-link" href="/sales">Sales</a>
        <a class="nav-link" href="#">Forums</a>
      </nav>
    </div>
    <div class="row">
      <div id="recruitment">
        <div id="deathknightIcon" class="mainIcon classIcon" spec="deathknightSpecs"></div>
        <div id="druidIcon" class="mainIcon classIcon" spec="druidSpecs"></div>
        <div id="hunterIcon" class="mainIcon classIcon grayscale" spec="hunterSpecs"></div>
        <div id="mageIcon" class="mainIcon classIcon" spec="mageSpecs"></div>
        <div id="monkIcon" class="mainIcon classIcon" spec="monkSpecs"></div>
        <div id="paladinIcon" class="mainIcon classIcon grayscale" spec="paladinSpecs"></div>
        <div id="priestIcon" class="mainIcon classIcon" spec="priestSpecs"></div>
        <div id="rogueIcon" class="mainIcon classIcon grayscale" spec="rogueSpecs"></div>
        <div id="shamanIcon" class="mainIcon classIcon grayscale" spec="shamanSpecs"></div>
        <div id="warlockIcon" class="mainIcon classIcon" spec="warlockSpecs"></div>
        <div id="warriorIcon" class="mainIcon classIcon grayscale" spec="warriorSpecs"></div>
      </div>
    </div>
    <div id="deathknightSpecs" class="hidden spec animated fadeIn">
      <div id="deathknightBlood" class="classIcon specIcon"></div>
      <div id="deathknightFrost" class="classIcon specIcon grayscale"></div>
      <div id="deathknightUnholy" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="druidSpecs" class="hidden spec animated fadeIn">
      <div id="druidBalance" class="classIcon specIcon"></div>
      <div id="druidFeral" class="classIcon specIcon grayscale"></div>
      <div id="druidGuardian" class="classIcon specIcon"></div>
      <div id="druidRestoration" class="classIcon specIcon"></div>
    </div>
    <div id="hunterSpecs" class="hidden spec animated fadeIn">
      <div id="hunterBeastMastery" class="classIcon specIcon grayscale"></div>
      <div id="hunterMarksman" class="classIcon specIcon grayscale"></div>
      <div id="hunterSurvival" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="mageSpecs" class="hidden spec animated fadeIn">
      <div id="mageArcane" class="classIcon specIcon"></div>
      <div id="mageFire" class="classIcon specIcon"></div>
      <div id="mageFrost" class="classIcon specIcon"></div>
    </div>
    <div id="monkSpecs" class="hidden spec animated fadeIn">
      <div id="monkBrewmaster" class="classIcon specIcon grayscale"></div>
      <div id="monkMistweaver" class="classIcon specIcon"></div>
      <div id="monkWindwalker" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="paladinSpecs" class="hidden spec animated fadeIn">
      <div id="paladinHoly" class="classIcon specIcon grayscale"></div>
      <div id="paladinProtection" class="classIcon specIcon grayscale"></div>
      <div id="paladinRetribution" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="priestSpecs" class="hidden spec animated fadeIn">
      <div id="priestDiscipline" class="classIcon specIcon grayscale"></div>
      <div id="priestHoly" class="classIcon specIcon grayscale"></div>
      <div id="priestShadow" class="classIcon specIcon"></div>
    </div>
    <div id="rogueSpecs" class="hidden spec animated fadeIn">
      <div id="rogueAssassination" class="classIcon specIcon grayscale"></div>
      <div id="rogueCombat" class="classIcon specIcon grayscale"></div>
      <div id="rogueSubtlety" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="shamanSpecs" class="hidden spec animated fadeIn">
      <div id="shamanElemental" class="classIcon specIcon grayscale"></div>
      <div id="shamanEnhancement" class="classIcon specIcon grayscale"></div>
      <div id="shamanRestoration" class="classIcon specIcon grayscale"></div>
    </div>
    <div id="warlockSpecs" class="hidden spec animated fadeIn">
      <div id="warlockAffliction" class="classIcon specIcon"></div>
      <div id="warlockDemonology" class="classIcon specIcon"></div>
      <div id="warlockDestruction" class="classIcon specIcon"></div>
    </div>
    <div id="warriorSpecs" class="hidden spec animated fadeIn">
      <div id="warriorArms" class="classIcon specIcon grayscale"></div>
      <div id="warriorFury" class="classIcon specIcon grayscale"></div>
      <div id="warriorProtection" class="classIcon specIcon grayscale"></div>
    </div>
  </div>
</template>
