<template name="post">
  <div class="row postRow">
    <div class="post col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
      <div class="postHeader">
        {{header}}
      </div>
      <div class="postContent">
        <div class="postImage"><img src="{{image}}" /></div>
        <div class="postText">{{text}}</div>
        <div class="postLinks"></div>
      </div>
      <div class="postFooter">
        <div class="postDate">{{date}}</div>
      </div>
    </div>
  </div>
</template>
