<template name="post">
  <div class="row postRow">
    <div class="post col-xs-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
      <div class="postHeader">
        {{header}}
      </div>
      <div class="postContent">
        <div class="postImage"><img src="{{image}}" /></div>
        <div class="postText">
          {{#markdown}}{{text}}{{/markdown}}
        </div>
      </div>
      <div class="postFooter">
        <div class="postDate">{{formatDate date}}</div>
      </div>
    </div>
  </div>
</template>
