<template name="blogHome">
  {{#each posts}}
    {{> post}}
  {{/each}}
  <!--<div class="row postRow">
    <div class="post col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
      <div class="postHeader">
        Mythic Archimonde
      </div>
      <div class="postContent">
        <div class="postImage"><img src="http://i.imgur.com/oqk7JEc.jpg" /></div>
        <div class="postText">Xhul'Horac was really rough this tier, but we still finished</div>
        <div class="postLinks"><a href="https://youtu.be/MDmvZy5dC_E">Resto Shaman PoV</a></div>
      </div>
      <div class="postFooter">
        <div class="postDate">10/30/2015</div>
      </div>
    </div>
  </div>
  <div class="row postRow">
    <div class="post col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
      <div class="postHeader">
        Mythic Mannoroth
      </div>
      <div class="postContent">
        <img src="http://i.imgur.com/yEqC7v5.jpg" />
      </div>
      <div class="postFooter">
        <div class="postDate">10/09/2015</div>
      </div>
    </div>
  </div> -->
</template>
